#footer {
    width: 100%;
    min-height: 100px;
    background-color: #22353f;
    text-align: center; }
#footer .footer-cont p {
    display: block;
    color: #a5a6a7;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0px;
    padding-left: 10px;
    margin: 0px; }
#footer .footer-cont p span {
    color: #2ecc71; }
#footer .footer-cont a {
    display: block;
    margin: 25px; }
#footer .footer-cont a .fa-angle-up {
    display: inline-block;
    color: #ffffff;
    background-color: #2ecc71;
    font-size: 32px;
    padding: 5px 11px;
    cursor: pointer;
    transition: all 0.7s; }
#footer .footer-cont a .fa-angle-up:hover {
    background-color: #00bbf5; }
@media screen and (min-width: 687px) {
    #footer .footer-cont p, #footer .footer-cont a {
        display: inline-block; } }