.flow_container {
    width:100%;
    margin:0 auto;
    overflow: hidden;
}
.flow_container ul li {
    overflow: hidden;
    list-style: none;
    float:left;
    font:10px/1.5 Verdana,Helvetica,Sans-serif;
    width: 300px;
    height: 300px;
    margin:2% 2% 40px 2%;

}

.flow_container ul li a {
    color: #5d5f5d;
}
.flow_container ul li a img {
    max-width: 100%;
}

/*Media Queries*/
@media only screen and (min-width: 941px){
    .flow_container ul li:nth-child(2) a img {
        height: 100%;
        width:400px;
    }
    /*.flow_container ul li:nth-child(5n+1){*/
        /*clear: left;*/
    /*}*/

}

@media only screen and (min-width: 721px) and (max-width: 941px){
    /*.flow_container ul li:nth-child(4n+1){*/
        /*clear: left;*/
    /*}*/
    /*.flow_container ul li {*/
        /*width: 21%;*/
    /*}*/
}

@media only screen and (min-width: 531px) and (max-width: 721px){
    /*.flow_container ul li:nth-child(3n+1){*/
        /*clear: left;*/
    /*}*/
    /*.flow_container ul li {*/
        /*width: 29.333%;*/
    /*}*/
}

@media only screen and (min-width: 321px) and (max-width: 531px){
    /*.container ul li:nth-child(2n+1){*/
        /*clear: left;*/
    /*}*/
    /*.flow_container ul li {*/
        /*width: 46%;*/
    /*}*/
}

@media only screen and (max-width: 321px){
    /*.flow_container ul li {*/
        /*width: 96%;*/
    /*}*/
}