.auth-panel-wrapper {
  height: 100%;
}

.auth-panel {
  display: flex;
  flex: 1;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.auth-credentials {
  display: flex;
  flex: 1;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  input {
    width: 100px;
  }
}