.content-panel {
  width: 100%;
}
.error-panel {
  font-weight: 700;
  font-size: 14px;
}
.person-block {
  display: flex;
  flex: 1;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}